top.news.stories.api/.vs/*
top.news.stories.api/bin/*
top.news.stories.api/obj/*
top.news.stories.api.test/.vs/*
top.news.stories.api.test/bin/*
top.news.stories.api.test/obj/*
top.news.stories.repositories/.vs/*
top.news.stories.repositories/bin/*
top.news.stories.repositories/obj/*

