hacker.news.api/.vs/*
hacker.news.api/bin/*
hacker.news.api/obj/*
hacker.news.api.test/.vs/*
hacker.news.api.test/bin/*
hacker.news.api.test/obj/*
hacker.news.api.repositories/.vs/*
hacker.news.api.repositories/bin/*
hacker.news.api.repositories/obj/*
publish/*
.vs/*
hacker.news.api.services/.vs/*
hacker.news.api.services/bin/*
hacker.news.api.services/obj/*

