
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/0e7c3013-8fe4-4051-b756-42f0a3a98be7.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/2b23a8c5-c292-4f5d-9062-8f8b05f178c5.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/325996e4-0944-4680-b718-b5bd3853375a.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/397060bb-530c-448d-b825-7f5c53154bb1.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/71ab1544-630e-4139-84c2-f3858d4a47e8.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/8c069531-ff32-459d-89d9-434a3b1cf114.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/c1fcc1bf-db4e-4310-bb10-ee3f65b93a5e.vsidx
top.news.stories.api/.vs/top.news.stories.api/FileContentIndex/fb53ec84-a2cf-4327-af91-d975ba2f0518.vsidx
top.news.stories.api/.vs/top.news.stories.api/v17/.suo
top.news.stories.api/bin/Debug/net6.0/top.news.stories.api.dll
top.news.stories.api/bin/Debug/net6.0/top.news.stories.api.pdb
top.news.stories.api/bin/Debug/net6.0/top.news.stories.repositories.dll
top.news.stories.api/bin/Debug/net6.0/top.news.stories.repositories.pdb
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.assets.cache
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.csproj.AssemblyReference.cache
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.csproj.CoreCompileInputs.cache
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.csproj.FileListAbsolute.txt
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.dll
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.GeneratedMSBuildEditorConfig.editorconfig
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.genruntimeconfig.cache
top.news.stories.api/obj/Debug/net6.0/top.news.stories.api.pdb
top.news.stories.api/obj/project.assets.json
top.news.stories.api/obj/project.nuget.cache
top.news.stories.api/obj/top.news.stories.api.csproj.nuget.dgspec.json
top.news.stories.repositories/bin/Debug/net6.0/top.news.stories.repositories.dll
top.news.stories.repositories/bin/Debug/net6.0/top.news.stories.repositories.pdb
top.news.stories.repositories/obj/Debug/net6.0/top.news.stories.repositories.assets.cache
top.news.stories.repositories/obj/Debug/net6.0/top.news.stories.repositories.csproj.FileListAbsolute.txt
top.news.stories.repositories/obj/Debug/net6.0/top.news.stories.repositories.dll
top.news.stories.repositories/obj/Debug/net6.0/top.news.stories.repositories.GeneratedMSBuildEditorConfig.editorconfig
top.news.stories.repositories/obj/Debug/net6.0/top.news.stories.repositories.pdb
top.news.stories.repositories/obj/project.assets.json
top.news.stories.repositories/obj/project.nuget.cache
top.news.stories.repositories/obj/top.news.stories.repositories.csproj.nuget.dgspec.json
